{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <form target="_blank">
            <input class="ui-button" type="submit" formaction="http://{{ hostname }}:5000" value="Go to the Application">
        </form>
    </div>
    <div class="row align-items-center d-flex">
        <div class="p-2">
            <select multiple id="statusFilter">
                <option value="running">Running</option>
                <option value="stopped">Stopped</option>
                <option value="terminated">Terminated</option>
                <option value="pending">Pending</option>
                <option value="shutting-down">Shutting-down</option>
                <option value="stopping">Stopping</option>
            </select>
        </div>
        <div class="p-1">
            <input style="width:50%" class="ui-button" onclick="applyFilter()" value="Filter">
        </div>
        <div class="ml-auto p-2">
            <img style="width:35px;" id="reload" class="clickable" src="{{url_for('static', filename='reload.png')}}"onclick="load_instances(true)"/>
        </div>
    </div>

    <div class="row">
        <table class="table">
        <thead id="instances-header">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Availability Zone</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tbody id="instance-list">
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="row justify-content-start align-items-center">
        <div class="col-4">
            <h4>Modify Worker Pool Size: </h4>
        </div>
        <div class="col-1">
            <form action="{{url_for('add_node')}}" method="post">
                <input class="ui-button" class="big-text" type="submit" value="+">
            </form>
        </div>
        <div class="col-1">
            <form action="{{url_for('remove_node')}}" method="post">
                <input class="ui-button" class="big-text" type="submit" value="-">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col" style="text-align: center">
            <p id="validate_msg"></p>
        </div>
    </div>
    <form id="cpu-form" action="{{url_for('change_threshold')}}" method="post">
        <div class="row justify-content-start align-items-center">
            <div class="col-4">
                <h4>Modify Worker CPU Percentage Threshold: </h4>
            </div>
            <div class="col-4">
                <input name="lower_threshold" type="text" value='{{ lower_thresh if lower_thres != None }}' style="width: 80px;">
                <span>&lt Avg. CPU usage &lt</span>
                <input name="upper_threshold" type="text" value='{{ upper_thresh if upper_thres != None }}' style="width: 80px;">
            </div>
            <div class="col-1">
                <input class="ui-button" type="submit" value="Change Threshold">
            </div>
        </div>
    </form>
    <br>

    <form id="ratio-form" action="{{url_for('change_ratio')}}" method="post">
        <div class="row justify-content-start align-items-center">
            <div class="col-4">
                <h4>Modify Worker Pool Expand/Shrink Ratio: </h4>
            </div>
            <div class="col-4">
                  <label>Expand by:</label>
                  <input name="expand_ratio" type="text" value='{{ expand_ratio if expand_ratio != None }}' style="width: 80px;">
                  <label>Shrink by:</label>
                  <input name="shrink_ratio" type="text" value='{{ shrink_ratio if shrink_ratio != None }}' style="width: 80px;">
            </div>
            <div class="col-1">
                <input class="ui-button" type="submit" value="Change Ratio">
            </div>
        </div>
    </form>
</div>

<div class="container-fluid danger-zone">
    <h3 style="color: darkred">Danger Zone</h3>
    <p>Be careful with these actions...</p>
    <div class="row">
        <div class="col">
            <form id="stop-all-form" action="{{url_for('stop_all')}}" method="post">
                <input id="stop-all" class="ui-button" value="Stop All">
            </form>
        </div>
        <div class="col">
            <form id="delete-all-form" action="{{url_for('delete_all')}}" method="post">
                <input id="delete-all" class="ui-button" value="Delete All">
            </form>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="page_load_dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

    <div title="Confirm" id="confirm-dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons">
        <p id="confirm-msg"></p>
    </div>

{% endblock %}

{% block script %}
    <script>
  $( function() {

      $('#statusFilter').multiselect({
          placeholder: 'Worker Status',
          selectAll: true,
          maxWidth: 180
      });

      load_instances(false);

      if ($('#page_load_dialog')){
        $("#page_load_dialog").dialog({modal: true});
      }

      $("#ratio-form" ).on( "submit", validate_inputs);
      $("#cpu-form" ).on( "submit", validate_inputs);

      $("#stop-all" ).on( "click", {msg: "Are you sure you want to stop the application?"}, confirm_dialog);
      $("#delete-all" ).on( "click", {msg: "Are you sure you want to delete ALL application data and users?"}, confirm_dialog);

      $("#confirm-dialog").dialog({
          autoOpen:false,
          modal: true,
          escape: false,
          buttons: {
              Yes: function() {
                $(this).dialog("close");
                $(this).data("form").submit();
              },
              No: function(){
                $(this).dialog("close");
              }
          }
      });

  });

  function applyFilter(){
      const statuses = [];
      $('#statusFilter option:selected').each(function(){ statuses.push($(this).val()); });
      $('.worker-row').each(function(){
          let worker_status = $($(this).find('.status')[0]).text();
          if(!statuses.includes(worker_status)){
              $(this).hide();
          }
          else{
              $(this).show();
          }
      })
  }

  function confirm_dialog(event) {
        $('#confirm-msg').text(event.data.msg);
        $('#confirm-dialog').data("form", $(event.target).parent()).dialog("open");
    }

  function validate_inputs(event) {
      if (!check_if_inputs_numbers(event.target)) {
          event.preventDefault();
      }
  }

  function check_if_inputs_numbers(form){
      var valid = true;
      $(form).find(':text').each(function() {
        if (!$.isNumeric(this.value)) {
            let input = $(this);
            input.addClass( "ui-state-error" );
            setTimeout(function() {input.removeClass( "ui-state-error", 1500 );}, 500 );
            $("#validate_msg").text("All inputs must be numeric values only").addClass("ui-state-highlight");
            valid = false
        }
      });
      return valid
  }

  function load_instances(filter){
      $("#reload").addClass("reload-spin");

      $("#instance-list").load("{{url_for('get_instances')}}",
          complete=function(){
              $("#reload").removeClass("reload-spin");
              if (filter){
                  applyFilter();
              }
      });
  }

  setTimeout(load_instances, 30000, true); // Reload instance data every 30 seconds

</script>
{% endblock %}
