{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row align-items-center d-flex">
        <div class="p-2">
            <form target="_blank">
                <input class="ui-button" type="submit" formaction="http://{{ hostname }}:5000" value="Go to the Application">
            </form>
        </div>
        <div class="ml-auto p-2">
            <img style="width:35px;" id="reload" class="clickable" src="{{url_for('static', filename='reload.png')}}"onclick="load_instances()"/>
        </div>
    </div>

    <div class="row">
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Availability Zone</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tbody id="instance-list">
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="row justify-content-start align-items-center">
        <div class="col-4">
            <h4>Modify Worker Pool Size: </h4>
        </div>
        <div class="col-1">
            <form action="{{url_for('add_node')}}" method="post">
                <input class="ui-button" class="big-text" type="submit" value="+">
            </form>
        </div>
        <div class="col-1">
            <form action="{{url_for('remove_node')}}" method="post">
                <input class="ui-button" class="big-text" type="submit" value="-">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-start align-items-center">
        <div class="col-4">
            <h4>Modify Worker CPU Percentage Threshold: </h4>
        </div>
        <div class="col-4">
            <input name="lower_threshold" value='{{ lower_thresh if lower_thres != None }}' style="width: 80px;">
            &lt Avg. CPU usage &lt 
            <input name="upper_threshold" value='{{ upper_thresh if upper_thres != None }}' style="width: 80px;">
        </div>
        <div class="col-1">
            <form action="{{url_for('change_threshold')}}" method="post">
                <input type="submit" value="Change Threshold">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-start align-items-center">
        <div class="col-4">
            <h4>Modify Worker Pool Expand/Shrink Ratio: </h4>
        </div>
        <div class="col-4">
            <label>Expand by:</label>
            <input name="expand_ratio" value='{{ expand_ratio if expand_ratio != None }}' style="width: 80px;">
            <label>Shrink by:</label>
            <input name="shrink_ratio" value='{{ shrink_ratio if shrink_ratio != None }}' style="width: 80px;">
        </div>
        <div class="col-1">
            <form action="{{url_for('change_ratio')}}" method="post">
                <input type="submit" value="Change Ratio">
            </form>
        </div>
    </div>
</div>

<div class="container danger-zone">
    <h3 style="color: darkred">Danger Zone</h3>
    <p>Be careful with these actions...</p>
    <div class="row">
        <div class="col">
            <form action="{{url_for('stop_all')}}" method="post">
                <input class="ui-button" type="submit" value="Stop All">
            </form>
        </div>
        <div class="col">
            <form action="{{url_for('delete_all')}}" method="post">
                <input class="ui-button" type="submit" value="Delete All">
            </form>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="page_load_dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}
{% block script %}
<script>
  $( function() {

      load_instances();

      if ($('#page_load_dialog')){
        $("#page_load_dialog").dialog({modal: true});
      }

  });

  function load_instances(){
      $("#reload").addClass("reload-spin");

      $("#instance-list").load("{{url_for('get_instances')}}",
          complete=function(){
              $("#reload").removeClass("reload-spin");
      });
  }
</script>
{% endblock %}
