body {
    background-color: #fafaeb;
}

.page-title{
    color: #3383bb;
    font-family: Verdana;
    font-weight: bold;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

#instances-header{
    background-color: white;
}

.danger-zone{
    background-color: #da737b;
    text-align: center;
    padding-bottom: 20px;
}

.ui-state-highlight {
    border-color: red;
    color: red;
}

.node-running{
    background-color: #98e893;
}

.node-terminated{
        background-color: white;
}

.node-other{
        background-color: #edef79;
}

.container{
    padding-bottom: 20px;
}

div.container div.row{
    margin-bottom: 10px;
}

.big-text{
    font-size: x-large;
}

.clickable{
    cursor: pointer;
}

.ms-options-wrap > .ms-options{
    left:auto;!important;
}

.reload-spin {
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
