.danger-zone{
    background-color: #da737b;
    text-align: center;
}

.node-running{
    background-color: #98e893;
}

.node-stopped{
        background-color: white;
}

.node-other{
        background-color: #edef79;
}

.container{
    padding-bottom: 20px;
}

div.container div.row{
    margin-bottom: 10px;
}

.big-text{
    font-size: x-large;
}

.clickable{
    cursor: pointer;
}

.reload-spin {
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
